@model Forum_MVC.Models.ViewModels.PostEditViewModel
@{
  var error = TempData["Error"] as string;
}
@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger" style="padding: 20px">@error</h2>
}
<h1>Create new post</h1>
<div class="validation" asp-validation-summary="ModelOnly"></div>
<form asp-action="CreatePost" asp-controller="Posts" method="Post">
    <partial name="Components/PostView" model="Model" />
</form>
<partial name="Components/TopicModal" />




